body{
    background-color: antiquewhite;
}

#container{
    display:grid;
    height:100vh; 
    gap:5px;
    grid-template-columns: 10% 1fr;
    grid-template-rows: 15% 5% 81% 1fr;
    grid-template-areas:
    "hs hs"
    "nv nv"
    "sc sc"
    "sc sc"
    "ft ft"

}

#house{
    grid-area: hs;
    background-color: #c0392b;
    background-image: url(../img/house-icon-sm.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;

}


nav{
    grid-area: nv;
    background-color: #c0392b;
    display:flex;
    justify-content: space-around;
    align-items: baseline;
    font-size: small;
    border-radius: 10px;

}

#button{
}

#bigsection{
    grid-area: sc;
    background-image: url(../img/tavlor.jpg);
    background-size:cover;
    border-radius: 10px;
}

#bigtitle{
    font-size:7rem;
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

footer{
    grid-area: ft;
    background-color: #c0392b;
}