body {
    font-family: "Aboreto", serif;
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: grid;
    height: 100vh;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 5% 1fr auto;
    grid-template-areas:
        "hd"
        "nav"
        "bgs"
        "ft";
    max-width: 1200px;
    width: 100%;
    padding: 20px;
}

header {
    grid-area: hd;
    background: #c0392b;
    color: antiquewhite;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem; 
}

header a{
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;
    padding: 4px 30px;
    font-size: 4rem;
}


nav {
    grid-area: nav;
    background-color: rgb(243, 193, 170);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

nav a {
    text-decoration: none;
    color: #c0392b;
    font-weight: bold;
    padding: 6px 30px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: #c0392b;
    color: antiquewhite;
    border-radius: 5px;
}

#bigsection {
    grid-area: bgs;
    background-image: url('../img/tavlor.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

#bigtitle {
    font-size: 3rem;
    color: #faebd7;
    text-align: center;
    text-shadow: 1px 1px 2px #c0392b;
    padding: 20px;
    border-radius: 10px;
}

footer {
    grid-area: ft;
    background: #c0392b;
    color: antiquewhite;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

footer a {
    text-decoration: none;
    color: antiquewhite;
    margin: 0 10px;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}


.gallery{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 20px;
    border-radius: 5px;
    color: #c0392b;
}

.art_item{
   text-align: center;
   background-color: antiquewhite;
   border-radius: 5px;
   padding: 10px;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.art_item img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.art_item:hover {
    transform: scale(1.05);
    
}
.art_item:hover img {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
}

.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    align-items: start;
}

#title{
    grid-column: 1 / span 2;
    font-size: 3rem;
    text-align: left;
    padding: 20px;
    color: #c0392b;
}

#cambria{
    grid-column: 1;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    background-color: #c0392b;
    color: antiquewhite;
    border-radius: 10px;
    margin: 0%;
}

#founder{
    grid-column: 2;
    border-radius: 10px;
    width: 100%;
    max-width: 395px;
    justify-self: center;
}